* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #fcfff4 0%,#e9e9ce 100%);
}

.nav {
    width: 100%;
    height: 70px;
    padding-right: 20px;
    padding-top: 10px;
    overflow: auto;
    position: fixed;
    top: 0;
    background: #fcfff4;
}

.nav h1 {
    margin: 0;
}

.logo-text-wrapper {
    float: left;
    width: 30%;
    margin-left: 50px;
}

.nav-item-wrapper {
    float: right;
    width: 300px;
    height: 100%;
}

.nav-item-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item-wrapper li {
    float: left; 
}

.nav-item-wrapper li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.main-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
}

.mid-section {
    text-align: center;
}

.about-grid {
    margin-bottom: 40px;
    overflow: auto;
}

.about-icon-div {
    float: left;
    width: 30%;
    text-align: center;
}

.about-icon-div img {
    width: 40%;
}

.menu-wrapper {
    overflow: auto;
    text-align: center;
}

.menu-item {
    float: left;
    width: 30%;
    border: 1px solid;
    margin-right: 10px;
    margin-left: 20px;
}

.menu-item-name {
    height: 40px;
    background: #DDDDDD;
    padding-top: 20px;
}

.menu-item-name h4 {
    margin: 0; 
}

ul {
    list-style-type: none;
    padding: 0;
}